- name: Apply CIS Kubernetes hardening - masters
  hosts: kube_control_plane
  become: true
  # serial: 1 
  gather_facts: true
  roles:
    - role: kube_cis_master
    - role: kube_cis_worker

- name: Apply CIS Kubernetes hardening - etcd
  hosts: etcd
  become: true
  # serial: 1 
  gather_facts: true
  roles:
    - role: kube_cis_etcd

- name: Apply CIS Kubernetes hardening - workers
  hosts: kube_node
  become: true
  # serial:
  # - "10%"
  # - "50%"
  # - "100%"
  gather_facts: true
  roles:
    - role: kube_cis_worker
